h1 {
  margin: 0;
}

body {
  margin: 0;
}
.background {
  background: white;
  background-image: url("./img/shifaaz-shamoon-370863-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 13%;
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  color: rgba(26, 24, 24, 0.8);
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

input {
  padding: 5px;
  margin: 7px;
  width: 300px;
  text-align: center;
  background-blend-mode: darken;
  font-size: 20px;
}

.footer {
  width: 100vw;
  height: 5vh;
  background: rgba(95, 112, 122, 0.7);
  padding: 5px;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vacayboxwords {
  position: relative;
  top: -70vh;
  color: rgb(235, 235, 238);
  font-size: 4vh;
}

.edit-buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(26, 24, 24, 0.8);
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1.8rem;
  border: none;
  font-weight: 700;
}
.word-background {
  background: rgba(95, 112, 122, 0.2);
  height: 449px;
}

.vacay-background {
  background-image: url("./img/mountains.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.add-additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 10;
}

.title-img {
  background-image: url("./img/nodb-logo.png");
  width: 400px;
  height: 300px;
  /* background-size: cover; */
  border-radius: 50%;
  background-position: 50% 52%;
}

.title-burger {
  position: absolute;
  right: 20px;
  top: 20px;
  color: rgba(26, 24, 24, 0.8);
}
/* .title-inputpage {
  position: absolute;
  left: 30px;
  top: 30px;

} */

.yourVacay {
  font-size: 3rem;
  font-weight: 300;
}
